In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("bird_dino_data.csv")
df.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Brain Volume (cm3)
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.96
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,22.04
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,15.10
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.83
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.19

In [114]:
def bodymass(FL):
    bodymass = 10**(3.1854*np.log10(FL)-3.184)/1000
    return(bodymass)

In [115]:
bodymass(70)

0.49360016552375785

In [116]:
birds = df.loc[df["Bird vs Dino"] == "B"]
dino = df.loc[df["Bird vs Dino"] == "D"]

In [117]:
birds.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Brain Volume (cm3)
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.96
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,22.04
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,15.10
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.19
7,8,B,0.90,0.234,5.95,0.99,0.96,0.55,8.68

In [118]:
dino.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Brain Volume (cm3)
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.83
5,6,D,85.96,0.569,9.52,3.60,5.16,3.78,22.63
6,7,D,0.50,0.077,0.60,0.36,0.24,0.17,1.45
9,10,D,12.61,0.028,3.71,1.31,1.60,2.17,8.82
14,15,D,49.30,1.080,14.81,4.75,3.16,2.35,26.15

In [119]:
def btbr(letter):
    if letter == "B":
        b = df.loc[df["Bird vs Dino"] == "B"].copy()
        ratio = ((b["Brain Volume (cm3)"]/ b["Body Mass (kg)"])/1000).mean()
    if letter == "D":
        d = df.loc[df["Bird vs Dino"] == "D"].copy()
        ratio = ((d["Brain Volume (cm3)"]/ d["Body Mass (kg)"])/1000).mean()
    return ratio

In [141]:
btbr("B")

0.047832283820074345

In [142]:
btbr("D")

0.0016106496539985663

In [143]:
def cerebrum(letter):
    if letter == "B":
        b = df.loc[df["Bird vs Dino"] == "B"].copy()
        ratio = (b["Cerebrum (cm3)"]/ b["Brain Volume (cm3)"]).mean()
    if letter == "D":
        d = df.loc[df["Bird vs Dino"] == "D"].copy()
        ratio = (d["Cerebrum (cm3)"]/ d["Brain Volume (cm3)"]).mean()
    return ratio

In [144]:
cerebrum("B")

0.6649507745281171

In [145]:
cerebrum("D")

0.4695339305450895

In [156]:
def ratio(brainvol, fl):
    theropodmass = 10**(3.1854*np.log10(fl)-3.184)/1000
    btb = (brainvol/theropodmass)/1000
    return btb

In [157]:
ratio(1.44, 70)

0.0029173409990088228

In [148]:
def ratios(cerebrum, brainvol):
    ctb = cerebrum/brainvol
    return ctb

In [158]:
ratios(0.6, 1.44)

0.4166666666666667

In [150]:
def cdifference(ocerebrumratio, acerebrumratio):
    d = acerebrumratio-ocerebrumratio
    return d

In [151]:
ddifference(0.4166666666666667, 0.4695339305450895)

0.05286726387842283

In [152]:
ddifference(0.4166666666666667, 0.6649507745281171)

0.24828410786145044

In [159]:
def bdifference(obtbratio, abtbratio):
    d = abtbratio-obtbratio
    return d

In [160]:
bdifference(0.0029173409990088228, 0.0016106496539985663)

-0.0013066913450102565

In [161]:
bdifference(0.0029173409990088228, 0.047832283820074345)

0.04491494282106552